<main>
  <section class="flex flex-col items-center justify-center gap-4 p-5 h-96 text-white bg-center bg-cover bg-black/50 bg-blend-overlay" style="background-image: url('images/comdals.jpg');">
    <h1 class="text-5xl font-bold text-white text-center text-balance">Els Comdals</h1>
    <p class="text-lg">Un lloc amb molta història que, a partir d'ara, formarà part de la nostra.</p>
  </section>
  <section class="p-5 font-semibold flex flex-col gap-5">
    <p>Els Comdals, el lloc que hem escollit per casar-nos, és una finca situada a Cervera, La Segarra, que data del segle XII. Esperem que us agradi tant com a nosaltres.</p>
    <iframe class="w-full" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2980.9166854671666!2d1.306052575893119!3d41.657542071266896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a42394c0bdba89%3A0xd051595b0d1e93c0!2sEls%20Comdals%20Restaurant!5e0!3m2!1ses!2ses!4v1732470712564!5m2!1ses!2ses" width="300" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
</main>