<main class="">
  <app-hero 
    imageUrl="images/columnes_rient.webp" 
    bgPositionX="25" 
    bgPositionY="50" 
    title="Benvingut a la nostra boda" 
  >
    <app-countdown></app-countdown>
  </app-hero>
  <section class="grid grid-cols-1 md:grid-cols-3 gap-12 py-10 px-10 justify-items-center text-white"> 
    <app-atropos-card class="w-full" >
      <a routerLink="where" class="direct-access" style="background-image: url('images/comdals.webp');">
        <p data-atropos-offset="15">El lloc</p>
      </a>
    </app-atropos-card>
    <app-atropos-card class="w-full">
      <div class="direct-access" style="background-image: url('images/cascada_peto.webp');">
        <p data-atropos-offset="15">Cronograma</p>
      </div>
    </app-atropos-card>
    <app-atropos-card class="w-full">
      <div class="direct-access" style="background-image: url('images/cascada_boira.webp');">
        <p data-atropos-offset="15">Quizz</p>
      </div>
    </app-atropos-card>
    <app-atropos-card>

    </app-atropos-card>
  </section>
</main>
